app = 'social-scribe'
primary_region = 'sin'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_SERVER = 'true'
  PHX_HOST = 'social-scribe.fly.dev'
  ECTO_IPV6 = 'true'

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
